{
  "$schema": "http://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "braceStyle": "1tbs",
  "phpVersion": "8.0",
  "plugins": [
    "@prettier/plugin-php",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
